# Local MongoDB example:
MONGODB_URI=mongodb://127.0.0.1:27017/campus_lost_found

# MongoDB Atlas example:
# MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/campus_lost_found?retryWrites=true&w=majority

MONGODB_DB=campus_lost_found
